.DS_Store
Thumbs.db
tree
*.log

.env
.env.*
!.env.example

server/api
server/bin/
*.exe
*.test

client/node_modules/
client/dist/
client/dist-ssr/
client/.output/
client/.vinxi/
client/.tanstack/
client/.nitro/

client/bun.lock