# Porta em que o servidor Go vai rodar
PORT=5000

# Connection String do PostgreSQL (Supabase Session Pooler - Porta 5432)
# Substitua [SENHA] e [ID_DO_PROJETO] com suas credenciais reais
DATABASE_URL="postgresql://postgres.[ID_DO_PROJETO]:[SENHA]@aws-0-us-west-2.pooler.supabase.com:5432/postgres"

# Ativa a sincronização automática das tabelas (true | false)
AUTO_MIGRATE=false